@import './styles/variable';

.container {
  background-color: $light-grey;
  padding: 10px;

  @media screen and (min-width: $min-width-desktop) {
    display: flex;
    .space-view {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      padding-left: 20px;

      .space-program-name {
        margin-right: 10px;
      }
    }
  }

  .space-card-details {
    padding: 0 27px;
  }

  .space-header {
    font-size: 20px;
    font-weight: bold;
  }

  .space-view {
    .space-program-name {
      background-color: white;
      border-radius: 5px;
      border: 1px solid $light-grey;
      width: 23.4%;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      padding-bottom: 10px;
      max-height: 64%;

      .space-img {
        background-color: #eaeaea;
        display: flex;
        margin: 10px auto;
        width: 85%;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .mission-header {
        color: #7878ca;
        font-size: 15px;
        margin-bottom: 6px;
        font-weight: bold;
      }

      .mission-id {
        li {
          list-style: outside;
          color: #7878ca;
          font-size: 15px;
          margin-top: 3px;
        }
      }

      .label {
        font-size: 15px;
        font-weight: 900;
        color: black;
        font-family: sans-serif;
        text-align: left;
      }

      .val {
        color: #7878ca;
        font-size: 15px;
        font-family: sans-serif;
      }
    }
  }

  @media screen and (min-width: $max-width-mobile) and (max-width: $min-width-desktop) {
    display: flex;
    .space-view {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      padding-left: 20px;

      .space-program-name {
        width: 47.4%;
        margin-right: 10px;
      }
    }
  }

  @media screen and (max-width: $max-width-mobile) {
    .space-header {
      font-size: 20px;
      font-weight: bold;
    }
    .space-view {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;

      .space-program-name {
        background-color: white;
        border-radius: 5px;
        border: 1px solid $light-grey;
        width: 100%;
        height: fit-content;
        margin-top: 15px;
        padding-bottom: 10px;

        .space-img {
          background-color: #eaeaea;
          display: flex;
          margin: 10px auto;
          width: 85%;
          height: 65%;
          align-items: center;
          justify-content: center;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .mission-header {
          color: #7878ca;
          font-size: 15px;
          margin-bottom: 6px;
          font-weight: bold;
        }

        .mission-id {
          li {
            list-style: outside;
            color: #7878ca;
            font-size: 15px;
            margin-top: 3px;
          }
        }

        .label {
          font-size: 20px;
          font-weight: 900;
          color: black;
          font-family: sans-serif;
          text-align: left;
        }

        .val {
          color: #7878ca;
          font-size: 20px;
          font-family: sans-serif;
        }
      }
    }
  }
}
