$medium-grey: #f8f8f8;
$dark-green: #16ab37fc;
$light-green: #5df17e8c;
$max-width-mobile: 700px;
$light-grey: #eaeaea;
$min-width-desktop: 1024px;

@mixin button-active-state {
  background-color: $dark-green;
  border: none;
  border-radius: 4px;
  outline: none;
}
